* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #b5b5a6;
}

#display {
    background-color: #7e8f90;
    padding: 5px;
    margin: 5px;
    text-align: end;
    font-size: 60px;
    height: 80px;
}

#clear-btn {
    padding: 5px;
    margin-bottom: 5px;
}

#keypad {
    height: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-around;
}

.row > * {
    flex: 1 0 30px;
    aspect-ratio: 1 / 1;
}